<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		<!-- 扫描 -->
		<context:component-scan base-package="com.ultrapower.bomc.controller"/>
		
		<!-- 注解驱动 @Autowired -->
		<mvc:annotation-driven conversion-service="conversionServiceFactoryBean" />

		<!-- 视图解析器 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/jsp/" />
			<!-- 后缀 -->
			<property name="suffix" value=".jsp"></property>
		</bean>
		
		
		<!-- 配置自定义转换器 -->
		<bean id="conversionServiceFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
			<property name="converters">
				<set>
					<bean class="com.ultrapower.bomc.conversion.TrimConverter"/>
				</set>
			</property>
		</bean>
	<mvc:resources mapping="/css/**" location="/css/"/>

	<!-- 将springmvc不能处理的请求交给tomcat -->
	<mvc:default-servlet-handler/>
	<!-- 能支持springmvc更高级的一些功能，JSR303校验，快捷的ajax...映射动态请求 -->
	<mvc:annotation-driven/>

</beans>